body{
  font-family:sans-serif;
}

.main-container{
  width: 98%;
}

.container{
  display: flex;
  justify-content: space-around;
  min-width: 980px;
  padding-top: 80px;
  overflow-y:scroll;
}

.container > div{
  flex-shrink: 0;
  width: 300px;
  min-height: 90vh;
  min-width: 240px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
  background: rgb(241, 246, 250);
}

.select-layout{
  background: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0.2);
  padding: 5px;
  margin-left:10px;
  border-radius: 5px;
}

.title{
  font-size: 22px;
  color: rgba(27, 30 ,59);
  position: relative;
  top:-60px;
  left:20px;
}

@media only screen and (max-width: 700px) {

  .header{
    display: flex;
    flex-direction: column;
  }
  .header>div{
    padding:10px;
  }

}


@media only screen and (max-width: 400px) {
  .container{
    display: flex;
    flex-direction: column;
    width:100%;
  }

  .container > div{
    display:flex;
    margin-left: 10px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    min-height: auto;
  }

  .title{
    min-width: 100px;
  }

}
